body {
  font-family: 'Droid Serif', serif;
}

/* HEADER */

.top-container, .header{
    font-family: 'Playfair Display', serif;
    text-align: center;
    position: relative;
    background-color: #f9f7f1;
    color: #2f2f2f;
    z-index: 17;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.btn{
    color: #2f2f2f;
    border-radius: 0px;
    margin-left: -4px;
}

.btn:hover{
    color: #2f2f2f;
    background-color: #FFFFFF;
}

.dateBox{
    position: relative;
    width: 12%;
    left: 10px;
    padding: 10px 15px 10px 15px;
    line-height: 20px;
    display: inline-block;
    margin: 0 50px 0px -360px;
}

.newspaper{
    display: inline-block;
    text-transform: uppercase;
}

.newspaper .title{
    line-height: 72px;
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 80px;
}

.newspaper .subtitle{
    font-size: 15px;
}

.rssBox{
    position: relative;
    width: 12%;
    left: 350px;
    padding: 10px 15px 10px 15px;
    line-height: 20px;
    display: inline-block;
    margin: 0   50px 0px -360px;
}

.subhead{
    text-transform: uppercase;
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
    padding: 12px 0 12px 0;
}

.subhead a{
    padding: 0 12px 0 12px
}

.subhead a + a{
    border-left: 1px solid #2f2f2f;
}

/* CONTENT */
/*.anchor{
  display: block;
  height: 105px; /*same height as header*/
  /*margin-top: -105px; /*same height as header*/
  /*visibility: hidden;
}*/

.content, .jumbotron{
    font-size: 16px;
    color: #2f2f2f;
    background-color: #f9f7f1;
}

p{
    font-family: 'Helvetica',;
}

.content a{
    color: #2f2f2f;
    text-decoration: underline;
}

.content .title{
    text-align: center;
    font-weight: 400;
    font-style: italic;
    text-transform: capitalize;

}

/* Article header*/
.article{
    text-align: center;
}

.article .title{
    font-size: 36px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

.article .data{
    font-variant: small-caps;
    font-size: 12px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

.article .author{
    font-weight: 700;
    padding-right: 10px;
}

.article .data:before{
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}
/*
.article .data:after{
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 10px;
    display: block;
    margin: 0 auto;
}
*/

/* Chapter header */
.chapter .title{
    font-size: 30px;
    padding: 10px 0 10px 0;
}

/* Chapter header */
.part .title{
    font-style: normal;
    font-size: 24px;
    text-align: left;
}

/* Emphasis */
.sources{
    font-size: 14px;
    text-align: left;
}
.sources p{
    margin: 0;
}
.sources p + p{
    padding-left: 20px;
}
.citation{
    text-align: center;
    font-weight: 400;
    display: block;
    margin: 40px 0 40px 0;
    font-feature-settings: "liga", "dlig";

}
.citation:before{
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 16px;
    display: block;
    margin: 0 auto;
}
.citation:after{
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 16px;
    display: block;
    margin: 0 auto;
}

.figure {
    margin: 0 0 20px 0;
}


.figcaption{
    font-style: italic;
    font-size: 12px;
    text-align: center;
}

.media {
    width: 100%;
    border: 1px solid #2f2f2f;
}

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto
}
img {
    border: 1px solid #2f2f2f;

}

/*img.media{
    -webkit-filter: sepia(80%) contrast(1) opacity(0.8);
    filter: sepia(80%) grayscale(1) contrast(1) opacity(0.8);
    mix-blend-mode: multiply;
}*/